*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}
.container {
    padding: 16px;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar{
    background-color: aliceblue;
    height: 110px;
    width: 110px;
    margin-right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar_personal_image{
    object-fit: contain;
    max-width: 102%;
    max-height: 110%;
    border-radius: 50%;
}