*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: #f0e6d5;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 1.6;
    background-color: #EDE6F7;
}

header > p {
    margin: 2rem;
}

a {
    text-decoration: none;
    color: #A678FF;
}

svg {
    fill: #A678FF;
    width: 2rem;
    height: 2rem;
}

a:hover, svg:hover {
    filter: brightness(1.2);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

}

footer {
    padding: 2.3rem;
    text-align: center;
}

.container_base {
    width: 90%;
    max-width: 1024px;
    margin: 3rem auto;
    padding: 2.5rem;
    background-color: #1A142B;
    border: 1px solid #a678ff66;
    border-radius: 1.5rem;
}

.header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social_networks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social_networks a {
    display: flex;
    align-items: center;
    color: #EDE6F7;
    gap: 0.8rem;
    margin-top: 2rem;
    background-color: #1A142B;
    padding: 0.6rem;
    border: 1px solid #a678ff66;
    border-radius: 1rem;
    transition: all 0.5s ease;

}

.avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    border:  2px solid #ee82ee;
    flex-shrink: 0;
}

.avatar_personal_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease, transform 0.5s ease;
}

.welcome p, .bio, .experiencias, .cursos {
    padding: 1.6rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
    background-color: #26203A;
    border: 1px solid #a678ff66;
}

.welcome p {
    margin-top: 1rem;
    font-size: 1.8rem;
    background-color: #26203a;
    color: #b8aecf;;
    border: 1px solid #8f7ea1;
}

.bio h2, .experiencias h2, .cursos h2{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #cba3ff;
}

.experiencias ul, .cursos ul {
    margin-left: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experiencias p {
    font-size: 1.9rem;
    color: #d8d0ec; 
    margin-bottom: 2.4rem;
    line-height: 1.7;
}

.experiencias strong, .cursos strong {
    color: #EDE6F7;
    font-size: 1.9rem;
}

.hidden {
    display: none;
}

.welcome.hidden_space {
    margin-bottom: 1.6rem;
}

button:hover, .avatar_personal_image, a:hover {
    filter: brightness(0.9);
    transform: scale(1.1);
}

#btn_welcome.btn-ativo {
    background: linear-gradient(to left,#6d35ff, #b37cff);
    color: #ffffff;
}

#btn_welcome {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #6d35ff, #b37cff);
    box-shadow: 1.6px 1.6px 8px rgba(238, 130, 238, 0.3);
    border-radius: 5rem;
    padding: 1rem;
    transition: filter 0.2s ease, transform 0.5s ease;
}

@media (max-width: 425px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
}