*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(187, 181, 171);
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: #1a0633;
}

a {
    text-decoration: none;
    color: blueviolet;
}

svg {
    fill: blueviolet;
    width: 2rem;
    height: 2rem;
}

#btn_welcome {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, blueviolet, violet);
    box-shadow: 1.6px 1.6px 8px rgb(238, 130, 238, 0.3);
    border-radius: 5rem;
    padding: 1rem;
    transition: filter 0.2s ease, transform 0.5s ease;

}

ul {
    list-style-position: inside;
}

ul ul {
    margin-left: 1.8rem;
}

.container_base {
    width: 90%;
    max-width: 1024px;
    margin: 3rem auto;
    padding: 2.5rem;
    background-color: #00001b;
    border: 1px solid blueviolet;
    border-radius: 1.5rem;
}

.header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social_networks {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social_networks a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 2rem;
    background-color: #121246;
    padding: 1.5rem;
    border: 1px solid blueviolet;
    border-radius: 1rem;
    transition: all 0.5s ease;

}

.avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    border:  2px solid violet;

    flex-shrink: 0;
}

.avatar_personal_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease, transform 0.5s ease;
}

header > p {
    margin: 2rem;
}

button:hover, .avatar_personal_image, a:hover {
    filter: brightness(0.9);
    transform: scale(1.1);
}

.welcome p, .bio, .experiencias, .cursos {
    padding: 1.6rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: #121246;
    border: 1px solid rgb(102, 27, 184);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

}

.welcome p {
    margin-top: 1rem;
    background-color: #484875;
    border: 1px solid rgb(143, 126, 161);
}

h1 {
    margin-top: 2.8rem;
}

.bio h2, .experiencias h2, .cursos h2 {
    margin-bottom: 1rem;
}

footer {
    padding: 2.3rem;
    text-align: center;
}

@media (max-width: 425px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
}